/* 
    Document   : mycss
    Created on : 17-ago-2015, 15:03:55
    Author     : Yasmani
    Description:
        Purpose of the stylesheet follows.
*/

.handpointer {
    cursor:pointer; 
    cursor: hand;
}
